<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
      
      <add key="readerType" value="1"></add>
      <add key="readerDriverName" value="RD201"></add>
      <add key="connstr" value="RDType=RD201;CommType=COM;COMName=COM4;BaudRate=38400;Frame=8E1;BusAddr=255"></add>
      <!--<add key="PostDataURL" value="http://syscotech.cc:12320"></add>-->
      <add key="interval" value="3000"></add>
      <add key="apiaddress" value="http://syscotech.cc:12320"></add>
      <!--<add key="apiAddress" value="http://192.168.0.189:12320"></add>-->
      
    </appSettings>  
  
  </configuration>
